<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herbertgao.telegram.bot.gaokao.database.mapper.UserTemplateMapper">
  <resultMap id="BaseResultMap" type="com.herbertgao.telegram.bot.gaokao.database.domain.UserTemplate">
    <!--@mbg.generated-->
    <!--@Table gaokao.user_template-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_content" jdbcType="VARCHAR" property="templateContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, template_name, template_content
  </sql>
</mapper>